h2{
	padding-top: 20px;
	padding-bottom: 5px;
}
body{
	margin-bottom: 60px;
	padding:0;
	margin:0;
	background-color: #ffebee;
}
main aside{
	margin: 8px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	padding: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
	text-align: center;
	background-color: #e57373;
	border-radius: 5px;
}
main article{
	box-sizing: border-box;

	height:200px;
	width: 150px;
	margin: 8px;
	background-color: #ff5252;
	float: left;
	padding: 1em;
}
header{
	background-color: #b71c1c ;
	color:white;
	margin:8px;
	padding:1em;
	text-align:right;
	border-radius: 5px;
}
nav{
	margin-bottom: 20px;
	color: #777777;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	float: left;
	margin-right: 5px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 150px;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	border: 1px solid #000;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-image: url("images/playing-card-back.jpg");
	background-size: 158px 208px;
	background-position: -5px -5px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#card-holder {
	overflow: auto;
}